[Unit]
Description=NATS Server
After=network.target ntp.service

[Service]
Type=simple
ExecStart=/usr/bin/nats-server -c /opt/nats/nats_jet.conf
StandardOutput=append:/var/log/nats.logs
StandardError=append:/var/log/nats.error.logs
RemainAfterExit=true
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target