server_name=n${index}-c1
listen=${private_ip}:4222
http 8222

jetstream {
   store_dir=${nats_folder}/data/
}

tls {
  cert_file: "${nats_folder}/certs/server-cert.pem"
  key_file:  "${nats_folder}/certs/server-key.pem"
  ca_file:   "${nats_folder}/certs/rootCA.pem"
  verify:    true
}

cluster {
  name: C1
  listen: ${private_ip}:6222
  routes: [
    %{ for ip_addr in other_private_ips ~}
    nats://${ip_addr}:6222
    %{ endfor ~}
  ]
}